{
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true,
    "jasmine": true
  },
  "rules": {
    "global-strict": [2, "always"],
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "quotes": [2, "single"],
    "consistent-return": 0,
    "semi": [2, "never"],
    "no-empty-class": 2,
    "no-empty-label": 2,
    "no-empty": 0,
    "no-alert": 0,
    "strict": 0,
    "curly": 0
  }
}
